.postItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    flex: 1;
    min-width: 300px;
    max-width: 400px;
    margin: 20px;
}

.postItem--title{
    margin-top: 12px;
}

.postItem--paragraph{
    margin-top: 0px;
}
.postItem--time{
    font-size: 12px;
    margin-top: 2px;
    font-weight: 300;
}

.postItem--btn{
    margin-top: 12px;
}

.postItem__image{
    width: 100%;
    aspect-ratio: 1 / 0.75;
    object-fit: cover;
    border-radius: 4px;
}