.mainPage-container {
  height: 450px;
  background: linear-gradient(30deg, #bfc1ceeb 27%, transparent) 90%;
  background-position: right;
  background-size: contain;
  padding-top: 200px;
  position: relative;
  overflow: hidden;
}

.mainPage-paragraph {
  width: 450px;
  margin-top: 12px;
}

.mainPage-btn {
  margin-top: 15px;
  background-color: #8447f9;
  color: #fff;
}

.mainPage-container_image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  opacity: 1;
  z-index: -1;
}

.mainPage-container_image > img {
  width: 100%;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  transform: scaleX(-1);
}
